<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <appSettings>
		 <add key="databaseConnected" value="false"/>
		 <add key="host" value="localhost"/>
		 <add key="port" value="3306"/>
		 <add key="user" value="root"/>
		 <add key="password" value=""/>
		 <add key="database" value="contact"/>
		 <add key="mysqlVer" value="8.0.21-mysql"/>
		 <add key="loginUser" value="thomas"/>
		 <add key="loginPassword" value="1234"/>
  </appSettings>
</configuration>